body {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://img.freepik.com/free-vector/black-ink-splatter-background_1409-2116.jpg?w=1380&t=st=1671809405~exp=1671810005~hmac=134a5f9e1dfaa3bbf9ec72936bfe0af2d471987200acc71499363c7ea707116e');
  background-repeat: repeat;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
